.menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  opacity: .8;
  background: url("../img/jpeg/menu-bg.jpg") no-repeat;
  background-size: cover;
  color: $colwhite;
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #000;
    opacity: .75;
  }
  &::after {
    content: "";
    width: rem(104px);
    height: rem(114px);
    position: absolute;
    top: -11%;
    left: 4%;
    display: block;
    background:  url("../img/png/menu-raspberries.png") no-repeat;
    background-size: cover;
    @include tablets {
      top: -7%;
    }
  }
  
}

.menu__title {
  position: relative;
  padding-left: 7.28%;
  padding-top: 9.46%;
  color: inherit;
  z-index: 10;
  @include phones {
    display: none;
  }
}

.accordion{
  display: flex;
  display: flex;
  justify-content: flex-end;
  color: inherit;
  cursor: pointer;
  @include phones {
    width: 100%;
  }
}

.accordion-item {
  position: relative;
  display: flex;
  overflow: hidden;

}

.accordion__img {
  position: relative;
}

.accordion__pic {
  width: rem(100px);
  height: 100%;
  object-fit: cover;
  opacity: .4;
}

.accordion__text {
  position: absolute;
  bottom: 5%;
  left: 25%;
  transform: rotate(180deg);
  font-weight: 500;
  color: inherit;
  writing-mode: vertical-rl;
}

.accordion__description {
  position: relative;
  width: 0;
  height: 0;
  font-size: 1em;
  line-height: 1.5;
  opacity: 0;
  color: inherit;
  transition: width cubic-bezier(.16,.14,.8,1.55) 1s;
  z-index: 10;
}

.accordion-item--active .accordion__description {
  width: rem(430px);
  padding: 56px 26px;
  animation: accordion__description 1s ease-in-out forwards;
  transition: width cubic-bezier(.16,.14,.8,1.55) 1s;
  @include tablets {
    width: rem(250px);
  }
}

.accordion-item--active {
  &::before {
    content: "";
    width: rem(630px);
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #000;
    opacity: .75;
    transition: width cubic-bezier(.16,.14,.8,1.55) 1s;
  }
}


@keyframes accordion__description {
  90% {
    opacity: 0;
  }

  95% {
    opacity: .75;
  }

  100% {
    opacity: 1;
  }
}