.presentation {
  display: flex;
  @include tablets {
    padding: 0 12%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  @include phones {
    padding: 0 5%;
  }
}

.presentation__block {
  width: 50%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 40;
  @include tablets {
    width: 100%;
    height: auto;
    align-items: center;
  }
  @include phones {
    align-items: center;
  }
}

.presentation__marketing-block {
  padding-top: 10.64%;
  @include tablets {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 3%;
  }
}

.main-title {
  margin-bottom: 4.73%;
  line-height: 1;
  font-size: 3.75em;
  font-weight: 700;
  text-transform: uppercase;
  @include tablets {
    font-size: 3.42em;
    margin-bottom: 2.23%;
  }
  @include phones {
    font-size: 2.5em;
  }
}

.presentation__description {
  width: 80%;
  margin-bottom: 6.88%;
  font-size: 1.32em;
  @include tablets {
    align-self: center;
    width: 50%;
  }
}

.presentation__button {
  color: $butgreen;
  background: $butwhite;
  @include tablets {
    align-self: center;
  }
}

.marketing-list {
  width: 50%;
  position: relative;
  display: flex;
  z-index: 30;
  @include tablets {
    width: 100%;
    margin-bottom: 0;
    justify-content: center;
  }
  @include phones {
    width: auto;
  }
}

.marketing-list__item {
  display: flex;
  @include phones {
    width: auto;
  }
}

.marketing-list__img {
  margin-right: 9.3px;
}

.marketing-list__pic {
  fill: transparent;
  stroke: #b0f7ff;
}

.marketing-list__leaves-icon {
  width: 44px;
  height: 41px;
}

.marketing-list__car-icon {
  width: 50px;
  height: 50px;
  fill: #b0f7ff;
  stroke-width: 10;
}

.marketing-list__meter-icon {
  width: 42px;
  height: 42px;
}

.marketing-list__text {
  max-width: 54.66%;
  font-size: 1em;
}

.presentation__candy-bars {
  width: 50%;
  position: relative;
  display: flex;
  align-items: flex-start;
  @include tablets {
    width: rem(325px);
    height: rem(325px);
    margin-right: 0;
    margin-bottom: 4%;
    order: -10;
    &::before {
      content: "";
      width: rem(325px);
      height: rem(217px);
      position: absolute;
      bottom: 0;
      right: 0;
      display: block;
      z-index: 30;
      background: url("../img/png/welcome-tablets-berries.png") no-repeat center center;
      background-size: cover;
      @include phones {
        width: 100%;
        height: 64%;
        background-size: cover;
      }
    }
  }
  @include phones {
    width: rem(170px);
    height: rem(170px);
  }
}

.presentation__pic {
  object-fit: contain;
  width: 100%;
  position: relative;
  z-index: 20;
}