// BUTTONS//
$butgreen: #0f5a47;
$butwhite: #fff;

//NAV-MENU
$menucolor: #b3ff15;

//VIDEO-PLAYER
$toolbarbrown:#3e3e3e;
$toolbarbrownlight: #626262;

// BACKGROUND//
$bgwhite: #fff;
$bgskyblue: #61c4d9;
$bglightestgrey: #f2f5f4;
$bggrey: #f8faf9;
$bggrey-green: #cfdeda;

//TEXTCOLOR//
$colwhite: #fff;
$colblack: #0d0d0d;
$collightblack: #323232;
$collighterblack: #333;
$colgrey: #666;
$colgreen: #0f5a47;

