$green: #0f5a47;
$white: #fff;

.button {
  width: 156px;
  height: 58px;
  font-size: 1.19em;
  font-weight: 800;
  text-transform: uppercase;
  border-radius: 80px/80px;
  color: $white;
  background: $green;
}