.phone {
  position: relative;
  font-size: 1.5em;
  &::after {
    content: "";
    width: 12px;
    height: 11px;
    position: absolute;
    display: flex;
    left: -15%;
    top: 50%;
    transform: translateY(-50%);
    background: url('../img/header/phone.png');
    &:hover {
      cursor: pointer;
    }
  }
}