.phone {
  position: relative;
  font-size: 1.5em;
  &__link {
    display: flex;
    align-items: center;
    color: inherit;
  }
  // &::after {
  //   content: "";
  //   width: 12px;
  //   height: 11px;
  //   position: absolute;
  //   display: block;
  //   left: -15%;
  //   top: 50%;
  //   transform: translateY(-50%);
  //   background: url('../img/header/phone.png');
  // }
}