.button {
  padding: 78px 
  height: 58px;
  font-size: 1.19em;
  font-weight: 800;
  text-transform: uppercase;
  border-radius: 80px/80px;
  color: $butwhite;
  background: $butgreen;
}

.marketing-sector__button {
  color: $butgreen;
  background: $butwhite;
}