.button {
  width: 156px;
  height: 58px;
  font-size: 1.19em;
  font-weight: 800;
  text-transform: uppercase;
  border-radius: 80px/80px;
  color: #fff;
  background: #0f5a47;
}

.marketing-sector__button {
  color: #0f5a47;
  background: #fff;
}