.button {
  padding: 22px 35px;
  font-size: 1.19em;
  font-weight: 800;
  text-transform: uppercase;
  border-radius: 25%/50%;
  color: $butwhite;
  background: $butgreen;
  z-index: 10;
}

.presentation__button {
  color: $butgreen;
  background: $butwhite;
}

.form__button {
  margin-right: 6.31%;
}