.welcome__container {
  position: relative;
  &::after {
    content: "";
    width: 512px;
    height: 648px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
    display: block;
    background: url(../img/welcome/header-pattern.png);
  }
}