.form-block {
  color: $colgreen;
}

.form__titles {
  color: $colgreen;
}

.form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form__adress-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}