.form-block {
  color: $colgreen;
}

.form__titles {
  color: $colgreen;
}

.form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form__adress-block {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-titles {
  font-size: 1.125em;
}