.form-block {
  color: $colgreen;
}

.form__titles {
  margin-bottom: 5.32%;
  color: $colgreen;
}

.form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form__adress-block {
  width: 48.94%;
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
}

.form-titles {
  margin-bottom: 2.18%;
  font-size: 1.125em;
}

.form__name-title, .form__phone-title {
  margin-bottom: 4.55%;
}

.form__home-title, .form__build-title, .form__flat-title, .form__floor-title {
  margin-bottom: 10%;
}

.form-label {
  width: 100%;
}

.form__name, .form__phone {
  width: 47.83%;
}

.form__home, .form__build, .form__flat, .form__floor {
  width: 21.74%;
}

.form-input {
  width: 100%;
  height: 59px;
  padding-left: 2.4%;
}

.form__name-input, .form__phone-input {
  padding-left: 5%;
}

.form__home-input, .form__build-input, .form__flat-input, .form__floor-input {
  padding-left: 11%;
}



