.header {
  padding-top: 2.66%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-width: 5.64%;
  font-size: 1.5em;
  font-weight: 500;
  text-transform: uppercase;
  &__link {
    color: inherit;
  }
}

.—Åompany-list {
  display: flex;
  font-size: 1.125em;
  &__item {
    margin-right: 2.88%;
    &:last-child {
      margin: 0;
      }
  }
  &__link {
    color: inherit;
  }
}

.phone {
  position: relative;
  z-index: 15;
  display: flex;
  font-size: 1.5em;
  &__link {
    display: flex;
    align-items: center;
    color: inherit;
    .phone__img {
      @extend .phone__link;
      margin-right: rem(6px);
    }
  }
}