$white: #fff;
$skyblue: #61c4d9;

.header {
  padding-top: rem(25px);
  // padding-bottom: rem(50px);
  color: $white;
  background: $skyblue;
}

.logo {
  max-width: 4.82%;
  font-size: 1.5em;
  font-weight: 500;
  text-transform: uppercase;
  &__link {
    color: inherit;
  }
}

.сompany-list {
  display: flex;
  font-size: 1.125em;
  &__item {
    margin-right: rem(27px);
    &:last-child {
      margin: 0;
      }
  }
  &__link {
    color: inherit;
  }
}

.phone {
  display: flex;
  font-size: 1.5em;
  &__link {
    display: flex;
    align-items: center;
    color: inherit;
    .phone__img {
      @extend .phone__link;
      margin-right: rem(6px);
    }
  }
}