.header {
  padding-top: 2.66%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 5.64%;
  font-size: 1.5em;
  font-weight: 500;
  text-transform: uppercase;
}

.logo__link {
  color: inherit;
}

.nav {
  display: flex;
  flex: 1;
  padding: 0 4.79%;
}

.сompany-list {
  display: flex;
  flex: 1;
  justify-content: space-between;
  font-size: 1.125em;
}

.сompany-list__link {
  color: inherit;
}

.phone {
  display: flex;
  font-size: 1.5em;
}

.phone__link {
  display: flex;
  align-items: center;
  color: inherit;
}

.phone__number {
  position: relative;
  &::before {
  content: "";
  width: 12px;
  height: 11px;
  position: absolute;
  left: -10%;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  background: url("../img/welcome/phone.png");
  }
  &::after {
    content: "";
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    left: -5%;
    top: 50%;
    display: block;
    transform: translateY(-50%);
    border: 1px solid black;
  }
}