.header {
  padding-top: 2.66%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 5.64%;
  font-size: 1.5em;
  font-weight: 500;
  text-transform: uppercase;
}

.logo__link {
  color: inherit;
}

.nav {
  display: flex;
  flex: 1;
  padding: 0 4.79%;
}

.—Åompany-list {
  display: flex;
  flex: 1;
  justify-content: space-between;
  font-size: 1.125em;
}

.company-list__link {
  color: inherit;
}

.phone {
  position: relative;
  z-index: 15;
  display: flex;
  font-size: 1.5em;
}

.phone__link {
  display: flex;
  align-items: center;
  color: inherit;
}

.phone__img {
  margin-right: rem(6px);
  display: flex;
  align-items: center;
  color: inherit;
}