.main-nav {
  position: fixed;
  top: 30%;
  right: 8%;
  z-index: 40;
  &__block {
  display: flex;
  flex-flow: column;
  align-items: center;
  }
}

.main-nav__item {
  margin-bottom: 30px;
  display: flex;
  transition: 2s;
  &:last-child {
    margin-bottom: 0;
  }
}

.main-nav__link {
  position: relative;
  display: block;
  &::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    border-radius: 50%;
    border: 3px solid $menuwhite;
  }
}

.main-nav__link--active.main-nav__link::after {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  border-radius: 50%;
  border: 2px solid $menuwhite;
}

.main-nav__item:hover .main-nav__link::after {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  border-radius: 50%;
  border: 2px solid $menuwhite;
}