.main-nav__block {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.main-nav__item {
  display: flex;
  width: 10px;
  height: 10px;
}

.main-nav__link {
  position: relative;
  display: block;
  &::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    border-radius: 50%;
    border: 3px solid $menuwhite;
  }
}

.main-nav__item:hover .main-nav__link::after {
  content: "";
  width: 23px;
  height: 23px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  border-radius: 50%;
  border: 1px solid $menuwhite;
}