.main-nav__block {
  display: flex;
  flex-flow: column;
}

.main-nav__item {
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background: #000;
}

.main-nav__link {
  
  display: block;
  
 
  // border: 3px solid #000;
}