.menu {
  display: flex;
  justify-content: flex-end;
  height: 656px;
  background: url("../img/menu/menu-bg.jpg");
}

.accordion{
  display: flex;
  // transform: rotate(270deg);
}

.accordion-item {
  position: relative;
  width: 100px;
  height: 656px;
}

.accordion__pic {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.accordion__text {
  position: absolute;
  bottom: 50%;
  left: -50%;
  transform: rotate(270deg) translateX(-50%);
  word-break: normal;
  color: #fff;
}