.menu {
  background: url("../img/menu/menu-bg.jpg") no-repeat;
}

.accordion{
  display: flex;
  display: flex;
  justify-content: flex-end;
  color: $colwhite;
}

.accordion-item {
  position: relative;
  display: flex;
  &:hover .accordion__description {
    width: 430px;
    padding-top: 56px;
    padding-left: 26px;
    font-size: 1em;
    line-height: 1.5;
    color: #fff;
  }
  &:hover .accordion__text {
    left: 5%;
  }
}

.accordion__pic {
  object-fit: cover;
  width: 100px;
}

.accordion__text {
  position: absolute;
  bottom: 5%;
  left: 25%;
  transform: rotate(180deg);
  font-weight: 500;
  color: $colwhite;
  writing-mode: vertical-rl;
}

.accordion__description {
  width: 0;
  height: 0;
  transition: all cubic-bezier(.16,.14,.8,1.55);
}