.menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  opacity: .8;
  background: url("../img/menu/menu-bg.jpg") no-repeat;
  color: $colwhite;
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #000;
    opacity: .75;
  }
  &::after {
    content: "";
    width: 104px;
    height: 114px;
    position: absolute;
    display: block;
    background:  url("../img/menu/raspberries-decor.png") no-repeat;
  }
}

.menu__title {
  position: relative;
  padding-left: 7.28%;
  padding-top: 9.46%;
  color: inherit;
  z-index: 10;
}

.accordion{
  display: flex;
  display: flex;
  justify-content: flex-end;
  color: inherit;
}

.accordion-item {
  position: relative;
  display: flex;
  &:hover .accordion__description {
    width: 430px;
    padding: 56px 26px;
    opacity: 1;
    transition: width cubic-bezier(.16,.14,.8,1.55) 1s;
  }
  &:hover::before {
    content: "";
    width: 630px;
    height: 660px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #000;
    opacity: .75;
    transition: width cubic-bezier(.16,.14,.8,1.55) 1s;
  }
}

.accordion__img {
  position: relative;
}

.accordion__pic {
  width: 100px;
  object-fit: cover;
  opacity: .4;
}

.accordion__text {
  position: absolute;
  bottom: 5%;
  left: 25%;
  transform: rotate(180deg);
  font-weight: 500;
  color: inherit;
  writing-mode: vertical-rl;
}

.accordion__description {
  position: relative;
  width: 0;
  height: 0;
  font-size: 1em;
  line-height: 1.5;
  opacity: 0;
  color: inherit;
  transition: width cubic-bezier(.16,.14,.8,1.55) 1s;
  z-index: 10;
}