.presentation {
  height: 100%;
  padding-bottom: rem(46px);
  display: flex;
  justify-content: space-between;
}

.presentation__block {
  width: 52.03%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 40;
}

.presentation__marketing-block {
  padding-top: 21.46%;
}

.main-title {
  margin-bottom: 4.73%;
  line-height: 1;
  font-size: 3.75em;
  font-weight: 700;
  text-transform: uppercase;
}

.presentation__description {
  width: 72.55%;
  margin-bottom: 6.88%;
  font-size: 1.32em;
}

.presentation__button {
  color: $butgreen;
  background: $butwhite;
}

.marketing-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.marketing-list__item {
  width: 33%;
  display: flex;
}

.marketing-list__img {
  margin-right: rem(9.3px);
}

.marketing-list__pic {
  fill: transparent;
  stroke: #b0f7ff;
}

.marketing-list__leaves-icon {
  width: rem(44px);
  height: rem(41px);
}

.marketing-list__car-icon {
  width: rem(50px);
  height: rem(40px);
}

.marketing-list__meter-icon {
  width: rem(42px);
  height: rem(42px);
}

.marketing-list__text {
  max-width: 54.66%;
  font-size: 1em;
}

.presentation__candy-bars {
  width: 56.2%;
  margin-right: -7.79%;
  position: relative;
  display: flex;
  justify-content: end;
  align-items: flex-start;
}

.presentation__pic {
  object-fit: cover;
  height: 100%;
  width: 100%;
  max-width: rem(503px);
  max-height: rem(523px);
  position: relative;
  z-index: 20;
}

@media screen and (max-width: 768px) {
  .presentation {
    padding-left: 14.59%;
    padding-right: 14.59%;
    padding-bottom: 8.86%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .presentation__block {
    width: 100%;
    height: auto;
  }

  .presentation__marketing-block {
    padding-top: 0;
    margin-bottom: 9.56%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .main-title {
    margin-bottom: 4.23%;
  }

  .presentation__description {
    align-self: center;
  }

  .presentation__button {
    align-self: center;
  }

  .marketing-list__item {
    width: 100%;
  }

  .presentation__candy-bars {
    width: rem(403px);
    height: rem(419px);
    margin-right: 0;
    order: -10;
    &::before {
      content: "";
      width: rem(434px);
      height: rem(280px);
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      background: url("../img/welcome/tablets-leaves.png") no-repeat center center;
    }
  }
}