$green: #0f5a47;
$white: #fff;

.presentation {
  padding-bottom: rem(46px);
  display: flex;
  justify-content: space-between;
  &__block {
    width: 50%;
    display: flex;
    flex-flow: column;
  }
}

.marketing-sector {
  padding-top: rem(100px);
  margin-bottom: rem(72px);
  &__title {
    margin-bottom: rem(22px);
    line-height: 1;
    font-size: 3.75em;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__description {
    max-width: 75%;
    margin-bottom: rem(32px);
    font-size: 1.32em;
  }
}

.marketing-list {
  display: flex;
  width: 100%;
}

.marketing-list__item {
  display: flex;
  max-width: 33%;
  .marketing-list__img {
    margin-right: rem(9.3px);
  }
  &:last-child {
    margin: 0;
  }
}

.marketing-list__text {
  max-width: 50%;
  font-size: 1em;
}

.candy-bars {
  width: 55%;
  margin-right: -5.5%;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  &__pic {
    position: relative;
    z-index: 20;
  }
}