.promotion {
  position: relative;
  color: $colblack;
  background: url("../img/promotion/promo-pattern.png") left center no-repeat;
  z-index: 40;
  &::before {
    content: "";
    width: rem(161px);
    height: rem(292px);
    display: block;
    position: absolute;
    left: 0;
    bottom: -14.5%;
    z-index: 20;
    background: url("../img/promotion/raspberries-bars.png") center no-repeat;
  }
}

.promotion__promo {
  width: 100%;
  margin-bottom: 6.07%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titles {
  font-size: 3em;
  text-transform: uppercase;
  font-weight: 700;
  color: $colblack;
}

.promotion__titles {
  margin-bottom: 2.45%;
}

.promotion__text {
  max-width: 43.2%;
  font-size: 1.125em;
  text-align: center;
  color: $colgrey;
}

.promo-list {
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 20;
}

.promo-list__item {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.promo-list__pic {
  margin-bottom: 11.29%;
  width: rem(125px);
  height: rem(125px);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: $bglightestgrey;
  &::after {
    content: "";
    width: rem(67px);
    height: rem(21px);
    position: absolute;
    right: -100%;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    background: url("../img/promotion/three-points.png");
  }
  @include tablets {
    margin-bottom: 3%;
    &::after {
      content: none;
    }
  }
}

.promo-list__svg {
  fill: transparent;
  stroke: #2a2a29;
  stroke-width: .75;
}

.promo-list__man-icon {
  width: 52.8%;
  height: 55.2%;
}

.promo-list__smile-icon {
  width: 56%;
  height: 55.2%;
}

.promo-list__strength-icon {
  width: 60%;
  height: 51.2%;
}

.promo-list__item:last-child .promo-list__pic::after {
  content: none;
}

.promo-list__item h4 {
  margin-bottom: 9.68%;
  font-size: 1.69em;
  @include tablets {
    margin-bottom: 3%;
  }
}

.promo-list__item p {
  max-width: 88.98%;
  font-size: 1.125em;
  text-align: center;
  color: $colgrey;
}

@media screen and (max-width: 768px) {

  .promotion {
    background: url("../img/promotion/promo-pattern.png") left top 30% no-repeat;
  }

  .promotion__text {
    width: 100%;
  }

  .promo-list {
    margin-bottom: 9.79%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .promo-list__item {
    width: 100%;
  }

  .promo-list__item p {
    width: 60.22%;
  }
}