.product {
  position: relative;
  background: $bggrey;
  &::before {
    content: "";
    width: 196px;
    height: 578px;
    position: absolute;
    right: 0;
    bottom: -53%;
    display: block;
    background: url("../img/product/dec+pat-product.png") center no-repeat;
  }
}

.product__container {
  position: relative;
  ::before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    left: -7.28%;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    border: 2px solid #0d0d0d;
  }
}