.reviews {
  color: $grey;
  background: $bgwhite;
}

.reviews__container {
  padding-top: 11.19%;
  padding-bottom: 8.64%;
  align-items: center;
}

.reviews__title {
  margin-bottom: 6.28%;
  font-size: 3em;
  font-weight: 700;
  color: $black;
}

.reviews-block {
  padding-top: 5.33%;
  margin-bottom: 5.33%;
  position: relative;
  display: flex;
  background: url("../img/reviews/review-bg.png");
  &::before {
    content: "";
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: $bgwhite;
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.reviews-block__img {
  width: 27%;
  margin-right: 2.15%;
}

.reviews-block__review {
  max-width: 46.07%;
}

.reviews-block__title {
  margin-bottom: 6.68%;
  font-size: 1.875em;
  font-weight: 500;
  color: $lightblack;
}

.reviews-block__text {
  margin-bottom: 7.39%;
  font-size: 1.125em;
}

.reviews-block__user {
  font-size: 1.125em;
  font-weight: 500;
}

.carousel {
  width: 100%;
  display: flex;
  justify-content: center;
}

.carousel__item {
  margin-right: 4.48%;
}


.carousel__img {
  width: 92px;
  height: 92px;
  border-radius: 50%;
}

.reviews__container {
  position: relative;
  &::before {
    content: "";
    width: 158px;
    height: 422px;
    position: absolute;
    left: 0;
    bottom: -31%;
    display: block;
    background: url("../img/reviews/dec+pat.png")
  }
  &::after {
    content: "";
    width: 173px;
    height: 99px;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    background: url("../img/reviews/raspberries.png");
  }
}