// BUTTONS//
$butgreen: #0f5a47;
$butwhite: #fff;

// BACKGROUND//
$bgwhite: #fff;
$bgskyblue: #61c4d9;

//TEXTCOLOR//

$black: #0d0d0d;
$lightblack: #323232;
$grey: #666666;
$lightestGrey: #f2f5f4;

$menuwhite: #fff;