// BUTTONS//
$butgreen: #0f5a47;
$butwhite: #fff;

// BACKGROUND//@extend



$white: #fff;
$black: #0d0d0d;
$lightblack: #323232;
$grey: #666666;
$lightestGrey: #f2f5f4;
$bgskyblue: #61c4d9;
$menuwhite: #fff;