// BUTTONS//
$butgreen: #0f5a47;
$butwhite: #fff;

//NAV-MENU
$menuwhite: #fff;

// BACKGROUND//
$bgwhite: #fff;
$bgskyblue: #61c4d9;

//TEXTCOLOR//
$colwhite: #fff;
$colblack: #0d0d0d;
$collightblack: #323232;
$colgrey: #666666;

$lightestGrey: #f2f5f4;
