.welcome {
  color: $colwhite;
  background: $bgskyblue;
}

.welcome {
  position: relative;
  &::before {
    content: "";
    height: 32vw;
    position: absolute;
    right: 0;
    bottom: -6%;
    left: 0;
    z-index: 30;
    display: block;
    background: url("../img/welcome/welcome-decor.png");
    background-repeat: no-repeat;
    background-position: bottom;
    transform: translateX(10%);
  }
  &::after {
    content: none;
    height: 3vw;
    position: absolute;
    right: 0;
    bottom: -6%;
    left: 0;
    transform: translateX(-50%);
    z-index: 10;
    display: block;
    background: url("../img/welcome/welcome-pattern.png") no-repeat;
    background-size: cover;
}