.welcome {
  color: $colwhite;
  background: $bgskyblue;
}

.welcome {
  position: relative;
  &::before {
}

.welcome__container {
  position: relative;
  &::before {
    content: "";
    height: 353px;
    width: 1056px;
    position: absolute;
    right: 0;
    bottom: -6%;
    z-index: 30;
    display: block;
    background: url("../img/welcome/welcome-decor.png") no-repeat;
  }
}