.wrapper {
  position: relative;
  &::before {
    content: "";
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background: #2f3234;
  }
}