html, body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-flow: column;
  overflow: hidden;
    .inner-wrapper {
      flex: 1;
    }
}

body, ul, li, p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

button {
  cursor: pointer;
  border: none;
  bo
}