@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:100,100i,300,300i,400,400i,500,500i,700,700i,800,800i,900,900i');

@font-face {
  font-family: 'Alegreya Sans';
  src: url('/fonts/AlegreyaSans/AlegreyaSans-Thin.woff2') format('woff2'),
  url('/fonts/AlegreyaSans/AlegreyaSans-Thin.woff') format('woff'),
  url('/fonts/AlegreyaSans/AlegreyaSans-Thin.ttf') format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: 'Alegreya Sans';
  src: url('/fonts/AlegreyaSans/AlegreyaSans-ThinItalic.woff2') format('woff2'),
  url('/fonts/AlegreyaSans/AlegreyaSans-ThinItalic.woff') format('woff'),
  url('/fonts/AlegreyaSans/AlegreyaSans-ThinItalic.ttf') format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Alegreya Sans';
  src: url('/fonts/AlegreyaSans/AlegreyaSans-Light.woff2') format('woff2'),
  url('/fonts/AlegreyaSans/AlegreyaSans-Light.woff') format('woff'),
  url('/fonts/AlegreyaSans/AlegreyaSans-Light.ttf') format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: 'Alegreya Sans';
  src: url('/fonts/AlegreyaSans/AlegreyaSans-LightItalic.woff2') format('woff2'),
  url('/fonts/AlegreyaSans/AlegreyaSans-LightItalic.woff') format('woff'),
  url('/fonts/AlegreyaSans/AlegreyaSans-LightItalic.ttf') format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Alegreya Sans';
  src: url('/fonts/AlegreyaSans/AlegreyaSans-Regular.woff2') format('woff2'),
  url('/fonts/AlegreyaSans/AlegreyaSans-Regular.woff') format('woff'),
  url('/fonts/AlegreyaSans/AlegreyaSans-Regular.ttf') format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: 'Alegreya Sans';
  src: url('/fonts/AlegreyaSans/AlegreyaSans-Italic.woff2') format('woff2'),
  url('/fonts/AlegreyaSans/AlegreyaSans-Italic.woff') format('woff'),
  url('/fonts/AlegreyaSans/AlegreyaSans-Italic.ttf') format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Alegreya Sans';
  src: url('/fonts/AlegreyaSans/AlegreyaSans-Medium.woff2') format('woff2'),
  url('/fonts/AlegreyaSans/AlegreyaSans-Medium.woff') format('woff'),
  url('/fonts/AlegreyaSans/AlegreyaSans-Medium.ttf') format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: 'Alegreya Sans';
  src: url('/fonts/AlegreyaSans/AlegreyaSans-MediumItalic.woff2') format('woff2'),
  url('/fonts/AlegreyaSans/AlegreyaSans-MediumItalic.woff') format('woff'),
  url('/fonts/AlegreyaSans/AlegreyaSans-MediumItalic.ttf') format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Alegreya Sans';
  src: url('/fonts/AlegreyaSans/AlegreyaSans-Bold.woff2') format('woff2'),
  url('/fonts/AlegreyaSans/AlegreyaSans-Bold.woff') format('woff'),
  url('/fonts/AlegreyaSans/AlegreyaSans-Bold.ttf') format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: 'Alegreya Sans';
  src: url('/fonts/AlegreyaSans/AlegreyaSans-BoldItalic.woff2') format('woff2'),
  url('/fonts/AlegreyaSans/AlegreyaSans-BoldItalic.woff') format('woff'),
  url('/fonts/AlegreyaSans/AlegreyaSans-BoldItalic.ttf') format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Alegreya Sans';
  src: url('/fonts/AlegreyaSans/AlegreyaSans-ExtraBold.woff2') format('woff2'),
  url('/fonts/AlegreyaSans/AlegreyaSans-ExtraBold.woff') format('woff'),
  url('/fonts/AlegreyaSans/AlegreyaSans-ExtraBold.ttf') format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: 'Alegreya Sans';
  src: url('/fonts/AlegreyaSans/AlegreyaSans-ExtraBoldItalic.woff2') format('woff2'),
  url('/fonts/AlegreyaSans/AlegreyaSans-ExtraBoldItalic.woff') format('woff'),
  url('/fonts/AlegreyaSans/AlegreyaSans-ExtraBoldItalic.ttf') format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Alegreya Sans';
  src: url('/fonts/AlegreyaSans/AlegreyaSans-Black.woff2') format('woff2'),
  url('/fonts/AlegreyaSans/AlegreyaSans-Black.woff') format('woff'),
  url('/fonts/AlegreyaSans/AlegreyaSans-Black.ttf') format("truetype");
  font-weight: 900;
}
@font-face {
  font-family: 'Alegreya Sans';
  src: url('/fonts/AlegreyaSans/AlegreyaSans-BlackItalic.woff2') format('woff2'),
  url('/fonts/AlegreyaSans/AlegreyaSans-BlackItalic.woff') format('woff'),
  url('/fonts/AlegreyaSans/AlegreyaSans-BlackItalic.ttf') format("truetype");
  font-weight: 900;
  font-style: italic;
}